.content-group-item-title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 28.13px;
    margin-bottom: 18px;
}

.content-group-item-content{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 18.75px;
}

.content-group-item-img{
    float: left;
    margin-right: 16px;
}